
<!-- add this to allow Google Maps works -->
<div id="map" style="background-color: azure; color: black; overflow-y: hidden">
    <div id="googleApp" style="z-index: 8000; overflow-y: hidden">
        <v-app>
            <v-layout row justify-center>
                <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                    <v-flex>
                        <v-btn style="z-index: 9000"
                               absolute
                               dark
                               top
                               left
                               small
                               color="error"
                               icon @click.native="dialog = false"
                        >
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-container fluid row fill-height style="padding: unset">
                        <v-layout>
                            <v-flex>
                                <google-map
                                        ref="mapRef"
                                        :center="center"
                                        :zoom="17"
                                        :options="mapOptions"
                                        style="width: 100%; height: 100%" id="myPanel">
                                    <google-marker :position="center" :icon="centerIcon"></google-marker>
                                    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                                        <div v-html="infoContent"></div>
                                    </gmap-info-window>
                                </google-map>
                                <v-btn-toggle
                                        v-model="valuesToSearch"
                                        multiple
                                        style="position: absolute; z-index: 9000; bottom: 5px; left: 5px">
                                    <v-btn
                                            small
                                            color="info"
                                            value="school"
                                            :loading="placesList.loading"
                                            :disabled="placesList.loading"
                                    >
                                        Schools
                                        <span slot="loader" class="custom-loader">
                                            <v-icon light>cached</v-icon>
                                        </span>
                                    </v-btn>
                                    <v-btn
                                            small
                                            color="purple"
                                            value="eat-drink"
                                            :loading="placesList.loading"
                                            :disabled="placesList.loading"
                                    >
                                        To eat & drink
                                        <span slot="loader" class="custom-loader">
                                            <v-icon light>cached</v-icon>
                                        </span>
                                    </v-btn>
                                    <v-btn
                                            small
                                            color="orange"
                                            value="entertainment"
                                            :loading="placesList.loading"
                                            :disabled="placesList.loading"
                                    >
                                        Entertainment
                                        <span slot="loader" class="custom-loader">
                                            <v-icon light>cached</v-icon>
                                        </span>
                                    </v-btn>
                                    <v-btn
                                            small
                                            color="cyan"
                                            value="stores"
                                            :loading="placesList.loading"
                                            :disabled="placesList.loading"
                                    >
                                        To buy
                                        <span slot="loader" class="custom-loader">
                                            <v-icon light>cached</v-icon>
                                        </span>
                                    </v-btn>
                                </v-btn-toggle>

                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-dialog>
            </v-layout>
        </v-app>
    </div>
</div>
